<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE html>
<html>
<head>
    <title>Calendar, Date & Time Widget A Flat Responsive widget Template :: w3layouts</title>
    <!-- For-Mobile-Apps -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Calendar, Date & Time Widget Widget Responsive, Login Form Web Template, Flat Pricing Tables, Flat Drop-Downs, Sign-Up Web Templates, Flat Web Templates, Login Sign-up Responsive Web Template, Smartphone Compatible Web Template, Free Web Designs for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design" />
    <!-- jQuery (necessary JavaScript plugins) -->
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <script src="js/jquery-1.11.1.min.js"></script>
    <!-- Custom Theme files -->
    <link href="css/style.css" rel='stylesheet' type='text/css' />
    <!-- Custom Theme files -->
    <!--Calender-->
    <link rel="stylesheet" href="css/clndr.css" type="text/css" />
    <script src="js/underscore-min.js"></script>
    <script src="js/moment-2.2.1.js"></script>
    <script src="js/clndr.js"></script>
    <script src="js/site.js"></script>
    <!--End Calender-->

    <script>
function startTime() {
    var today = new Date();
    var h = today.getHours();
    var m = today.getMinutes();
    var s = today.getSeconds();
    m = checkTime(m);
    s = checkTime(s);
    document.getElementById('txt').innerHTML =
    h + ":" + m + ":" + s;
    var t = setTimeout(startTime, 500);
}
function checkTime(i) {
    if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
    return i;
}
    </script>
</head>

<body onload="startTime()">

    <h1>CALENDAR, DATE & TIME WIDGET</h1>

    <div class="content">

        <div class="calender">

            <div class="cal1">
                <div class="clndr">

                    <table class="clndr-table" border="0" cellspacing="0" cellpadding="0">

                        <thead>
                            <tr class="header-days">
                                <td class="header-day">S</td>
                                <td class="header-day">M</td>
                                <td class="header-day">T</td>
                                <td class="header-day">W</td>
                                <td class="header-day">T</td>
                                <td class="header-day">F</td>
                                <td class="header-day">S</td>
                            </tr>
                        </thead>

                        <tbody>

                            <tr>
                                <td class="day past calendar-day-2015-11-01">
                                    <div class="day-contents">01</div>
                                </td>
                                <td class="day past calendar-day-2015-11-02">
                                    <div class="day-contents">02</div>
                                </td>
                                <td class="day past calendar-day-2015-11-03">
                                    <div class="day-contents">03</div>
                                </td>
                                <td class="day past calendar-day-2015-11-04">
                                    <div class="day-contents">04</div>
                                </td>
                                <td class="day past calendar-day-2015-11-05">
                                    <div class="day-contents">05</div>
                                </td>
                                <td class="day past calendar-day-2015-11-06">
                                    <div class="day-contents">06</div>
                                </td>
                                <td class="day past calendar-day-2015-11-07">
                                    <div class="day-contents">07</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="day past calendar-day-2015-11-08">
                                    <div class="day-contents">08</div>
                                </td>
                                <td class="day past calendar-day-2015-11-09">
                                    <div class="day-contents">09</div>
                                </td>
                                <td class="day past calendar-day-2015-11-10">
                                    <div class="day-contents">10</div>
                                </td>
                                <td class="day past calendar-day-2015-11-11">
                                    <div class="day-contents">11</div>
                                </td>
                                <td class="day past calendar-day-2015-11-12">
                                    <div class="day-contents">12</div>
                                </td>
                                <td class="day past calendar-day-2015-11-13">
                                    <div class="day-contents">13</div>
                                </td>
                                <td class="day past calendar-day-2015-11-14">
                                    <div class="day-contents">14</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="day past calendar-day-2015-11-05">
                                    <div class="day-contents">15</div>
                                </td>
                                <td class="day past calendar-day-2015-11-16">
                                    <div class="day-contents">16</div>
                                </td>
                                <td class="day past calendar-day-2015-11-17">
                                    <div class="day-contents">17</div>
                                </td>
                                <td class="day past calendar-day-2015-11-18">
                                    <div class="day-contents">18</div>
                                </td>
                                <td class="day past calendar-day-2015-11-19">
                                    <div class="day-contents">19</div>
                                </td>
                                <td class="day past calendar-day-2015-11-20">
                                    <div class="day-contents">20</div>
                                </td>
                                <td class="day today calendar-day-2015-11-21">
                                    <div class="day-contents">21</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="day calendar-day-2015-11-22">
                                    <div class="day-contents">22</div>
                                </td>
                                <td class="day calendar-day-2015-11-23">
                                    <div class="day-contents">23</div>
                                </td>
                                <td class="day calendar-day-2015-11-24">
                                    <div class="day-contents">24</div>
                                </td>
                                <td class="day calendar-day-2015-11-25">
                                    <div class="day-contents">25</div>
                                </td>
                                <td class="day calendar-day-2015-11-26">
                                    <div class="day-contents">26</div>
                                </td>
                                <td class="day calendar-day-2015-11-27">
                                    <div class="day-contents">27</div>
                                </td>
                                <td class="day calendar-day-2015-11-28">
                                    <div class="day-contents">28</div>
                                </td>
                            </tr>

                            <tr>
                                <td class="day calendar-day-2015-11-29">
                                    <div class="day-contents">29</div>
                                </td>
                                <td class="day calendar-day-2015-11-30">
                                    <div class="day-contents">30</div>
                                </td>
                                <td class="day adjacent-month next-month calendar-day-2015-12-01">
                                    <div class="day-contents">01</div>
                                </td>
                                <td class="day adjacent-month next-month calendar-day-2015-12-02">
                                    <div class="day-contents">02</div>
                                </td>
                                <td class="day adjacent-month next-month calendar-day-2015-12-03">
                                    <div class="day-contents">03</div>
                                </td>
                                <td class="day adjacent-month next-month calendar-day-2015-12-04">
                                    <div class="day-contents">04</div>
                                </td>
                                <td class="day adjacent-month next-month calendar-day-2015-12-05">
                                    <div class="day-contents">05</div>
                                </td>
                            </tr>

                        </tbody>

                    </table>

                </div>
            </div>
        </div>

        <div class="date">
            <div id="dd1" class="wrapper-dropdown-3" tabindex="1">
                <span><img src="images/nav.png" alt="Navbar" /></span>
                <ul class="dropdown">
                    <li><a href="#">Alarm</a></li>
                    <li><a href="#">Dual Clock</a></li>
                    <li><a href="#">Notes</a></li>
                    <li><a href="#">Reminder</a></li>
                    <li><a href="#">To-Do List</a></li>
                    <li><a href="#">World Clock</a></li>
                </ul>
                <script type="text/javascript">
				function DropDown(el) {
				this.dd = el;
				this.initEvents();
				}
				DropDown.prototype = {
				initEvents : function() {
				var obj = this;
				obj.dd.on('click', function(event){
				$(this).toggleClass('active');
				event.stopPropagation();
				});
				}
				}
				$(function() {
				var dd = new DropDown( $('#dd1') );
				$(document).click(function() {
				// all dropdowns
				$('.wrapper-dropdown-3').removeClass('active');
				});
				});
                </script>
            </div>

            <div id="txt"></div>

            <div class="dmy">
                <script type="text/javascript">
               var mydate=new Date()
               var year=mydate.getYear()
               if(year<1000)
                 year+=1900
                 var day=mydate.getDay()
                 var month=mydate.getMonth()
                 var daym=mydate.getDate()
               if(daym<10)
                 daym="0"+daym
                 var dayarray=new Array("Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday")
                 var montharray=new Array("January","February","March","April","May","June","July","August","September","October","November","December")
                 document.write(""+dayarray[day]+", "+montharray[month]+" "+daym+", "+year+"")
                </script>
            </div>

            <h2>REMINDERS</h2>
            <ul class="reminder">
                <li>06:00 - Wake Up</li>
                <li>09:00 - Suit Up</li>
                <li>14:00 - Lunch</li>
                <li>20:00 - Party!</li>
                <li>23:00 - Bed Time</li>
            </ul>
        </div>

    </div>

    <div class="clear"></div>

    </div>
    </div>

    <div class="footer">
        <p>Copyright &copy; 2015 Calendar, Date & Time Widget. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p>
    </div>
</body>
</html>