<!DOCTYPE html>
<html>
<head>
    <title>Editar</title>
	<meta charset="utf-8" />
</head>
<body>

    Nova Maestria:
    <select id="NovaMaestria" name="NovaMaestria">
        <option value="1">Iniciante</option>
        <option value="2">Médio</option>
        <option value="3">Avançado</option>
        <option value="4">Mestre</option>
    </select>

</body>
</html>
