<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" href="~/Imagens/sympIcon.png" type="image/x-icon" /> 
    <title>Symphonya</title>
    <link rel="icon" href="~/Imagens/symphonyaIcon.png" type="image" />
    <link rel="shortcut icon" href="~/Imagens/symphonyaIcon.png" type="image" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/CSS/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/CSS/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/CSS/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/JS/jquery-1.10.2.min.js"></script>
    <script src="~/JS/amcharts.js"></script>
    <script src="~/JS/serial.js"></script>
    <script src="~/JS/light.js"></script>
    <script src="~/JS/radar.js"></script>
    <link href="~/CSS/barChart.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/fabochart.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/styleCadastro.css" rel="stylesheet" type='text/CSS' media="all" />
    <!--clock init-->
    <script src="~/JS/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="~/JS/skycons.js"></script>

    <script src="~/JS/jquery.easydropdown.js"></script>
    <script src="~/JS/jquery-2.2.3.min.js"></script>
    <script src="~/JS/mascaras.js"></script>
    <!--//skycons-icons-->

    <!-- //lined-icons -->
    <script src="~/JS/jquery-1.10.2.min.js"></script>
    <script src="~/JS/amcharts.js"></script>
    <script src="~/JS/serial.js"></script>
    <script src="~/JS/light.js"></script>
    <script src="~/JS/radar.js"></script>
    <link href="~/CSS/barChart.css" rel='stylesheet' type='text/css' />
    <link href="~/CSS/fabochart.css" rel='stylesheet' type='text/css' />
    <!--clock init-->
    <script src="~/JS/css3clock.js"></script>
    <!--Easy Pie Chart-->
    <!--skycons-icons-->
    <script src="~/JS/skycons.js"></script>
    <!--//skycons-icons-->
</head>
<body>
    <div class="page-container">
        <!--/content-inner-->
        <div class="left-content">
            <div class="inner-content">
                <!-- header-starts -->
                <div class="header-section">
                    <!--menu-right-->
                    <div class="top_menu">
                        <div class="main-search">
                            <form method="post" action="~/Menu/Pesquisar">
                                <input id="busca" name="busca" type="text" value="Buscar" onFocus="this.value = '';" onBlur="if (this.value == '') {this.value = 'Buscar';}" class="text" />
                                <input type="submit" value="">
                            </form>
                        </div>
                        @*<script type="text/javascript">
                                             $('.main-search').hide();
                                             $('button').click(function () {
                                                 $('.main-search').fadein("slow");
                                                 $('.main-search text').focus();
                                            }
                                            );
                                                 $('.close').click(function () {
                                                     $('.main-search').hide();
                                                 });
                            </script>*@
                        <!--/profile_details-->
                        <div class="profile_details_left">
                            <ul class="nofitications-dropdown">
                                <li class="dropdown note dra-down">
                                    <script type="text/javascript">

																	function DropDown(el) {
																		this.dd = el;
																		this.placeholder = this.dd.children('span');
																		this.opts = this.dd.find('ul.dropdown > li');
																		this.val = '';
																		this.index = -1;
																		this.initEvents();
																	}
																	DropDown.prototype = {
																		initEvents : function() {
																			var obj = this;

																			obj.dd.on('click', function(event){
																				$(this).toggleClass('active');
																				return false;
																			});

																			obj.opts.on('click',function(){
																				var opt = $(this);
																				obj.val = opt.text();
																				obj.index = opt.index();
																				obj.placeholder.text(obj.val);
																			});
																		},
																		getValue : function() {
																			return this.val;
																		},
																		getIndex : function() {
																			return this.index;
																		}
																	}

																	$(function() {

																		var dd = new DropDown( $('#dd') );

																		$(document).click(function() {
																			// all dropdowns
																			$('.wrapper-dropdown-3').removeClass('active');
																		});

																	});

                                    </script>
                                </li>
                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-twitch"></i> <span class="badge">3</span></a>


                                    <ul class="dropdown-menu two first">
                                        <li>
                                            <div class="notification_header">
                                                <h3>Fique Antenado</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="~/Imagens/in.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">Veja Tudo</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>

                                <li class="dropdown note">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-bell-o"></i> <span class="badge">5</span></a>

                                    <ul class="dropdown-menu two">
                                        <li>
                                            <div class="notification_header">
                                                <h3>Voce tem 5 Notificações</h3>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="user_img"><img src="~/Imagens/in.jpg" alt=""></div>
                                                <div class="notification_desc">
                                                    <p>Lorem ipsum dolor sit amet</p>
                                                    <p><span>1 hour ago</span></p>
                                                </div>
                                                <div class="clearfix"></div>
                                            </a>
                                        </li>
                                        <li>
                                            <div class="notification_bottom">
                                                <a href="#">Veja Tudo</a>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                                <div class="clearfix"></div>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                        <!--//profile_details-->
                    </div>
                    <!--//menu-right-->
                    <!--footer section start-->
                    <footer>
                        <p>© 2017 Symphonya . Todos os direitos reservados.</p>
                    </footer>
                    <!--footer section end-->
                </div>
            </div>



            <!--CRIAR EMAIL- INICIO-->

            <div class="page-container">
                <!--/content-inner-->
                <div class="left-content">
                    <div class="inner-content">
                        <!-- header-starts -->
                        <div class="header-section">
                            <!--menu-right-->
                            <div class="top_menu">
                                
                                
                                <div class="clearfix"></div>
                                <!--//profile_details-->
                            </div>
                            <!--//menu-right-->
                            <div class="clearfix"></div>
                        </div>
                        <!-- //header-ends -->
                        <!--//outer-wp-->
                        <div class="outter-wp">
                            <!--/sub-heard-part-->
                            <div class="sub-heard-part">
                                <ol class="breadcrumb m-b-0">
                                    <li><a href="index.html">Home</a></li>
                                    <li class="active">Compose Mail</li>
                                </ol>
                            </div>
                            <!--/sub-heard-part-->
                            <!--/inbox-->
                            <div class="inbox-mail">
                                <div class="col-md-4 compose">
                                    <form action="#" method="GET">
                                        <div class="input-group input-group-in">
                                            <input type="text" name="search" class="form-control2 input-search" placeholder="Search...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-success" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div><!-- Input Group -->
                                    </form>
                                    <h2>Compose</h2>
                                    <nav class="nav-sidebar">
                                        <ul class="nav tabs">
                                            <li class="active"><a href="#tab1" data-toggle="tab"><i class="fa fa-inbox"></i>Inbox <span>9</span><div class="clearfix"></div></a></li>
                                            <li class=""><a href="#tab2" data-toggle="tab"><i class="fa fa-share-square-o"></i> Sent</a></li>
                                            <li class=""><a href="#tab3" data-toggle="tab"><i class="fa fa-star-o"></i>Important</a></li>
                                            <li class=""><a href="#tab4" data-toggle="tab"><i class="fa fa-pencil-square-o"></i>Draft <span>6</span><div class="clearfix"></div></a></li>
                                            <li class=""><a href="#tab5" data-toggle="tab"><i class="fa fa-trash-o"></i>Delete</a></li>
                                        </ul>
                                    </nav>
                                    <div class="content-box">
                                        <ul>
                                            <li><span>Folder</span></li>
                                            <li><a href="#"><i class="fa fa-folder-o"></i>Tasks</a></li>
                                            <li><a href="#"><i class="fa fa-folder-o"></i>Jobs</a></li>
                                            <li><a href="#"><i class="fa fa-folder-o"></i>Client</a></li>
                                        </ul>
                                    </div>

                                </div>
                                <!-- tab content -->
                                <div class="col-md-8 tab-content tab-content-in">
                                    <div class="inbox-right">

                                        <div class="mailbox-content">
                                            <!--Compose New Message -->
                                            <div class="compose-mail-box">
                                                <div class="compose-bg">
                                                    Compose New Message
                                                </div>
                                                <div class="panel-body">
                                                    <div class="alert alert-info">
                                                        Please fill details to send a new message
                                                    </div>
                                                    <form class="com-mail" method="post">
                                                        <input type="text" class="form-control1 control3" placeholder="Para :">
                                                        <input type="text" class="form-control1 control3" placeholder="Assunto :">

                                                        <textarea rows="6" class="form-control1 control2" placeholder="Mensagem :"></textarea>

                                                        <input type="submit" value="Enviar Mensagem">
                                                    </form>
                                                </div>
                                            </div>
                                            <!--//Compose New Message -->
                                        </div>
                                    </div>
                                </div>

                                <div class="clearfix"> </div>
                            </div>

                        </div>

                        <!--//outer-wp-->
                        <!--footer section start-->
                        <footer>
                            <p>&copy 2016 Augment . All Rights Reserved | Design by <a href="https://w3layouts.com/" target="_blank">W3layouts.</a></p>
                        </footer>
                        <!--footer section end-->
                    </div>
                </div>
                <!--//content-inner-->
                <!--/sidebar-menu-->
                <div class="sidebar-menu">
                    <header class="logo">
                        <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="index.html">
                            <span id="logo"> <h1 style="font: inherit;font-size: 180%;">Symphonya</h1></span>
                            <!--<img id="logo" src="" alt="Logo"/>-->
                        </a>
                    </header>
                    <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
                    <!--/down-->
                    <div class="down">
                        <a href="index.html"><img src="images/admin.jpg"></a>
                        <a href="index.html"><span class=" name-caret">Jasmin Leo</span></a>
                        <p>System Administrator in Company</p>
                        <ul>
                            <li><a class="tooltips" href="index.html"><span>Profile</span><i class="lnr lnr-user"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Settings</span><i class="lnr lnr-cog"></i></a></li>
                            <li><a class="tooltips" href="index.html"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
                        </ul>
                    </div>
                    <!--//down-->
                    <div class="menu">
                        <ul id="menu">
                            <li><a href="index.html"><i class="fa fa-tachometer"></i> <span>Dashboard</span></a></li>
                            <li id="menu-academico">
                                <a href="#"><i class="fa fa-table"></i> <span> Tabs &amp; Panels</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="tabs.html"> Tabs &amp; Panels</a></li>
                                    <li id="menu-academico-boletim"><a href="widget.html">Widgets</a></li>
                                    <li id="menu-academico-avaliacoes"><a href="calender.html">Calender</a></li>

                                </ul>
                            </li>
                            <li id="menu-academico">
                                <a href="#"><i class="fa fa-file-text-o"></i> <span>Ui Elements</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="forms.html">Forms</a></li>
                                    <li id="menu-academico-boletim"><a href="validation.html">Validation Forms</a></li>
                                    <li id="menu-academico-boletim"><a href="table.html">Tables</a></li>
                                    <li id="menu-academico-boletim"><a href="buttons.html">Buttons</a></li>
                                </ul>
                            </li>
                            <li><a href="typography.html"><i class="lnr lnr-pencil"></i> <span>Typography</span></a></li>
                            <li id="menu-academico">
                                <a href="#"><i class="lnr lnr-book"></i> <span>Pages</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="login.html">Login</a></li>
                                    <li id="menu-academico-boletim"><a href="register.html">Register</a></li>
                                    <li id="menu-academico-boletim"><a href="404.html">404</a></li>
                                    <li id="menu-academico-boletim"><a href="sign.html">Sign up</a></li>
                                    <li id="menu-academico-boletim"><a href="profile.html">Profile</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#"><i class="lnr lnr-envelope"></i> <span>Mail Box</span><span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul>
                                    <li><a href="inbox.html"><i class="fa fa-inbox"></i> Inbox</a></li>
                                    <li><a href="inbox.html"><i class="fa fa-pencil-square-o"></i> Compose Mail</a></li>
                                    <li><a href="editor.html"><span class="lnr lnr-highlight"></span> Editors Page</a></li>

                                </ul>
                            </li>
                            <li id="menu-academico">
                                <a href="#"><i class="lnr lnr-layers"></i> <span>Components</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul id="menu-academico-sub">
                                    <li id="menu-academico-avaliacoes"><a href="grids.html">Grids</a></li>
                                    <li id="menu-academico-boletim"><a href="media.html">Media Objects</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="chart.html"><i class="lnr lnr-chart-bars"></i> <span>Charts</span> <span class="fa fa-angle-right" style="float: right"></span></a>
                                <ul>
                                    <li><a href="map.html"><i class="lnr lnr-map"></i> Maps</a></li>
                                    <li><a href="graph.html"><i class="lnr lnr-apartment"></i> Graph Visualization</a></li>
                                </ul>
                            </li>
                            <li id="menu-comunicacao">
                                <a href="#"><i class="fa fa-smile-o"></i> <span>More</span><span class="fa fa-angle-double-right" style="float: right"></span></a>
                                <ul id="menu-comunicacao-sub">
                                    <li id="menu-mensagens" style="width:120px">
                                        <a href="buttons.html">Buttons <i class="fa fa-angle-right" style="float: right; margin-right: -8px; margin-top: 2px;"></i></a>
                                        <ul id="menu-mensagens-sub">
                                            <li id="menu-mensagens-enviadas" style="width:130px"><a href="table.html">Tables</a></li>
                                            <li id="menu-mensagens-recebidas" style="width:130px"><a href="blank.html">Blank</a></li>
                                        </ul>
                                    </li>
                                    <li id="menu-arquivos"><a href="404.html">404</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>

            <!--CRIAR EMAIL- FIM-->

            <!-- LISTAR ATIVIDADES RECENTES-->
            <!-- LISTAR ATIVIDADES RECENTES FIM-->
            <!--//content-inner-->
            <!--/sidebar-menu-->
            <div class="sidebar-menu">
                <header class="logo">
                    <a href="#" class="sidebar-icon"> <span class="fa fa-bars"></span> </a> <a href="~/Menu/Feed">
                        <span id="logo"> <h1>Symphonya</h1></span>
                        <!--<img id="logo" src="" alt="Logo"/>-->
                    </a>
                </header>
                <div style="border-top:1px solid rgba(69, 74, 84, 0.7)"></div>
                <!--/down-->
                <div class="down">
                    @if (ViewBag.Logado == null) { }
                    else {
                        <a href="~/Menu/Perfil"><img src="~/Imagens/ImagensUsuario/@ViewBag.User.Imagem_Perfil"></a>
                        <span class="name-caret">@ViewBag.User.Nome @ViewBag.User.Sobrenome</span>
                    }
                    <p>System Administrator in Company</p>
                    <ul>
                        <li><a class="tooltips" href="~/Acesso/Sair"><span>Log out</span><i class="lnr lnr-power-switch"></i></a></li>
                    </ul>
                </div>
                <!--//down-->
                <div class="menu">
                    <ul id="menu">
                        <li id="menu-academico">
                            <a href="#"><i class="fa fa-calendar"></i> <span> Agenda &amp; Horários</span> <span class="fa fa-angle-right" style="padding-left: 17%;"></span></a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-boletim"><a href="~/Menu/Agenda">Agenda</a></li>
                                <li id="menu-academico-avaliacoes"><a href="calender.html">Horários</a></li>

                            </ul>
                        </li>
                        <li><a href="~/Menu/Arquivo"><i class="fa fa-file"></i> <span>Arquivos</span></a></li>
                        <li id="menu-academico">
                            <a href="#"><i class="fa fa-group"></i> <span>Bandas</span> <span class="fa fa-angle-right" style="padding-left: 53%;"></span></a>
                            <ul id="menu-academico-sub">
                                <li id="menu-academico-avaliacoes"><a href="~/Menu/CadastroBanda">Nova Banda</a></li>
                                <li id="menu-academico-boletim"><a href="~/Menu/VerBandas">Ver Bandas</a></li>
                            </ul>
                        </li>
                        <li id="menu-academico">
                            <a href="~/Menu/VerSeguidores"><i class="fa fa-address-book"></i> <span>Seguidores</span></a>
                        </li>
                        <li>
                            <a href="~/Menu/VerSeguidos"><i class="fa fa-address-book-o"></i> <span>Seguindo</span></a>
                        </li>
                        <li>
                            <a href="~/Menu/Livestream"><i class="fa fa-twitch"></i> <span>Livestream</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <script>
							var toggle = true;

							$(".sidebar-icon").click(function() {
							  if (toggle)
							  {
								$(".page-container").addClass("sidebar-collapsed").removeClass("sidebar-collapsed-back");
								$("#menu span").css({"position":"absolute"});
							  }
							  else
							  {
								$(".page-container").removeClass("sidebar-collapsed").addClass("sidebar-collapsed-back");
								setTimeout(function() {
								  $("#menu span").css({"position":"relative"});
								}, 400);
							  }

											toggle = !toggle;
										});
    </script>
    <!--js -->
    <link rel="stylesheet" href="~/CSS/vroom.css">
    <script type="text/javascript" src="~/JS/vroom.js"></script>
    <script type="text/javascript" src="~/JS/TweenLite.min.js"></script>
    <script type="text/javascript" src="~/JS/CSSPlugin.min.js"></script>
    <script src="~/JS/jquery.nicescroll.js"></script>
    <script src="~/JS/scripts.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/JS/bootstrap.min.js"></script>
</body>
</html>