
@{
    ViewBag.Title = "Cadastro";
}
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!doctype html>
<html>
<head>
    <title>Symphonya</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Music Class Registration Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEriCSSon, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/CSS?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <!-- /fonts -->
    <!-- CSS -->
    <link href="~/CSS/styleCadastro.css" rel="stylesheet" type='text/CSS' media="all" />
    <!-- /CSS -->
    <!-- JavaScript -->
    <script src="~/JavaScript/jquery-2.2.3.min.js"></script>
</head>
<body>
    <h2 class="w3layouts">Cadastre-se no Symphonya</h2>
    <div class="content-w3ls">
        <div class="content1-agile">
            <div class="form_w3layouts">
                <form action="#" method="post" class="agile_form">
                    <div class="agileits-left">
                        <input type="text" name="name" class="username" placeholder="Nome" required="">
                    </div>
                    <div class="agileits-left s2-w3ls">
                        <input type="text" name="name" class="username" placeholder="Sobrenome" required="">
                    </div>
                    <div class="clear"></div>
                    <div class="checkin agileits-left">
                        <input placeholder="Data de nascimento" class="date" id="datepicker" type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" required="" />
                    </div>

                    <div class="section_class_agileits">
                        <select required>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                            <option value="24">24</option>
                            <option value="25">25</option>
                            <option value="26">26</option>
                            <option value="27">27</option>
                            <option value="28">28</option>
                            <option value="29">29</option>
                            <option value="30">30</option>
                            <option value="31">31</option>
                        </select>
                    </div>






                    <div class="agileits-left s2-w3ls">
                        <input type="email" name="name" class="username" placeholder="Telefone" required="">
                    </div>
                    <div class="clear"></div>
                    <div class="agileits-left">
                        <input type="email" name="name" class="username" placeholder="Email" required="">
                    </div>
                    <div class="agileits-left s2-w3ls">
                        <input type="text" name="name" class="username" placeholder="Senha" required="">
                    </div>
                    <div class="agileits-left s2-w3ls">
                        <input type="text" name="name" class="username" placeholder="Cidade" required="">
                    </div>
                    <div class="section_class_agileits">
                        <select required>
                            <option value="">Estado</option>
                            <option value="2">AC</option>
                            <option value="3">AL</option>
                            <option value="4">AP</option>
                            <option value="5">AM</option>
                            <option value="6">BA</option>
                            <option value="7">CE</option>
                            <option value="8">DF</option>
                            <option value="9">ES</option>
                            <option value="10">GO</option>
                            <option value="11">MA</option>
                            <option value="12">MT</option>
                            <option value="13">MS</option>
                            <option value="14">MG</option>
                            <option value="15">PA</option>
                            <option value="16">PB</option>
                            <option value="17">PR</option>
                            <option value="18">PE</option>
                            <option value="19">PI</option>
                            <option value="20">RJ</option>
                            <option value="21">RN</option>
                            <option value="22">RS</option>
                            <option value="23">RO</option>
                            <option value="24">RR</option>
                            <option value="25">SC</option>
                            <option value="26">SP</option>
                            <option value="27">SE</option>
                            <option value="28">TO</option>
                        </select>
                    </div>
                   
                    <div class="clear"></div>
                    <div class="section_class_agileits">
                        <select required>
                            <option value="">Choice of Instrument</option>
                            <option value="2">Guitar</option>
                            <option value="3">Violin</option>
                            <option value="4">Drums</option>
                            <option value="5">Saxophone</option>
                            <option value="5">piano</option>
                        </select>
                    </div>
                    <div class="section_class_agileits s2-w3ls">
                        <select required="">
                            <option value="">Select Time</option>
                            <option value="1">10:00-11:00</option>
                            <option value="2">11:00-12:00</option>
                            <option value="3">14:00-15:00</option>
                            <option value="4">15:00-16:00</option>
                            <option value="4">16:30-17:00</option>
                            <option value="4">17:30-18:30</option>
                        </select>
                    </div>
                    <div class="clear"></div>
                    <div class="agileits-left check">
                        <h2>pick Days for classes</h2>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i></i>Sunday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Monday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Tuesday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Wednesday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Thursday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Friday</label>
                        <label class="checkbox w3l"><input type="checkbox" name="checkbox" required="required"><i> </i>Saturday</label>
                    </div>
                    <textarea placeholder="Message" required=""></textarea>
                    <div class="clear"></div>
                    <div class="submit">
                        <input type="submit" value="Cadastrar">
                    </div>
                </form>
            </div>
        </div>
        <div class="content2-agile">
        </div>
        <div class="clear"></div>
    </div>
    <p class="copyright-agileits">&copy 2017 Symphonya . Todos os direitos reservados.</p>
    <!--start-date-piker-->
    <link rel="stylesheet" href="~/CSS/jquery-uiCadastro.css" />
    <script src="~/JavaScript/jquery-ui.js"></script>
    <script>
			$(function() {
			$( "#datepicker,#datepicker1" ).datepicker();
			});
    </script>
    <!-- /End-date-piker -->
</body>
</html>

