<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <link rel="icon" href="~/Imagens/sympIcon.png" type="image/x-icon" /> 
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Augment Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- Bootstrap Core CSS -->
    <link href="~/CSS/bootstrap.min.css" rel='stylesheet' type='text/css' />
    <!-- Custom CSS -->
    <link href="~/CSS/style.css" rel='stylesheet' type='text/css' />
    <!-- Graph CSS -->
    <link href="~/CSS/font-awesome.css" rel="stylesheet">
    <!-- jQuery -->
    <link href='//fonts.googleapis.com/css?family=Roboto:700,500,300,100italic,100,400' rel='stylesheet' type='text/css'>
    <!-- lined-icons -->
    <link rel="stylesheet" href="~/CSS/icon-font.min.css" type='text/css' />
    <!-- //lined-icons -->
    <script src="~/JS/jquery-1.10.2.min.js"></script>
    <!--clock init-->
</head>
<body>
    <!--/login-->
    <div class="error_page">
        <!--/login-top-->

        <div class="error-top">
            <h2 class="inner-tittle page">Symphonya</h2>
            <div class="login">
                <h3 class="inner-tittle t-inner">Entrar</h3>
                <div class="login-esquerda">
                    <h2 class="boasvindas-titulo">Bem-Vindo!</h2>
                    <p class="boasvindas-slogan"><b class="Symphonya-destaque">Symphonya</b>, desperte o artista que há em você.</p>
                    <p class="boasvindas-texto"><b class="Symphonya-destaque">Symphonya</b> apresenta uma proposta para todos os músicos que visam um meio para interagir com outras pessoas que tem interesse com o na área. Além de formas de divulgação, o site contará com adicionais que ajudarão no reconhecimento dos músicos como:  curso de teorias musicais, cifras, dicas de instrumento, estudos sobre Timbres de Instrumentos, Feeds, tudo baseado em música. </p>
                </div>
                <div class="login-direita">
                    <div class="buttons login">
                        <ul>
                            <li><a class="hvr-sweep-to-right">Facebook</a></li>
                            <li class="lost"><a href="#" class="hvr-sweep-to-left">Twitter</a> </li>
                            <div class="clearfix"></div>
                        </ul>
                        <div id="status">
                        </div>
                    </div>

                    <!-- CASO O LOGIN FALHE-->
                    @if (ViewBag.MsgErro != null)
                    {
                    <div class="alert alert-danger">
                        <strong>Erro!</strong> Usuário e/ou Senha incorretos!
                    </div>
                    }
                    <form method="post" action="~/Acesso/Login">
                        <input type="text" class="text" value="E-Mail" id="email" name="email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'E-mail address';}">
                        <input type="password" value="senha" id="senha" name="senha" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
                        <div class="submit"><input type="submit" onclick="myFunction()" value="Login"></div>
                        <div class="clearfix"></div>

                        <div class="new">
                            <p><label class="checkbox11"><input type="checkbox" name="checkbox"><i> </i>Esqueceu sua Senha?</label></p>
                            <p class="sign">Não possui uma conta ? <a href="~/Acesso/Cadastro">Cadastre-se</a></p>
                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>


        </div>


        <!--//login-top-->
    </div>

    <!--//login-->
    <!--footer section start-->
    <div class="footer">
        <p>&copy 2017 Symphonya . Todos os direitos reservados.</p>
    </div>
    <!--footer section end-->
    <!--/404-->
    <!--js -->
    <script src="js/jquery.nicescroll.js"></script>
    <script src="js/scripts.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>